body {
    padding: 0;
    margin-top: 200px;
    margin-right: 300px;
    margin-bottom: 300px;
    margin-left: 700px;
}

form {
    text-align: center;
    width: 250px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: greenyellow;
}

.sim {
    margin-top: 170px;
    margin-left: 110px;
}

.aaa {
    width: 180px;
}

.nao {
    margin-right: 130px;
}

.nao2 {
    margin-right: 140px;
}